.x-tab-default-top{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.header{
    background-color: rgb(66, 133, 244);
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
    z-index:1;
}
.header-search-panel{
    background-color: #6f90f2;
    color: rgb(255, 255, 255);
    border-radius:3px;
    opacity:.87;
}
.header-search-panel:hover{
    background-color: #70A3F7;
    opacity:1;
}
.header-menu-icon,
.header-search-icon{
    fill: #ffffff;
    opacity:.87;
}
.header-menu-icon:hover,
.header-search-icon:hover{
    opacity:1;
    cursor: pointer;
}
.header-title{
    font-size:19px;
    border:none;
    background-color: rgb(66, 133, 244);
    background: rgb(66, 133, 244);
    color:#ffffff;
    opacity:.87;
    cursor: pointer;
}
.header-search,
.header-search .x-form-trigger-wrap{
    background-color: #6f90f2;
    font-size:19px;
    color:#ffffff;
    border:0px;
    vertical-align:bottom;
    padding: 0px;
    opacity:.87;
}
.header-search:hover{
    background-color: #70A3F7;
    opacity:1;
}
.header-search::-webkit-input-placeholder{
    font-size:19px;
    color:#ffffff;
    vertical-align: bottom;
}
body{
    background-color: #cecece;
}
.splash-screen{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:-1999;
}
.paper-panel,.x-toolbar-footer{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
}